!!! 5
%html
	%head
		%title Event/ Miner/ Results

	%body
		%h1 Event/ Miner/ Results
		
		%p
			%a{:href => "/about"}
				About this project

		%div
			%form{:action => "/url", :method => "GET"}
				%label
					Enter url:
					%br
						%input#url-input{:type => "text", :name => "url[address]", :placeholder => "http://www.spoton.it", :value => @url}
				%input#url-get-button{:type => "submit", :value => "Get"}
				%br
				%div{:style => "width: 400px; display: inline-block"}
					%label
						%strong Count the number of words that match filters:
						%br
						Format is "FilterType:ThingToCompareTo", without quotes.
						%br
						Filters separated by newline.
						%br
						%textarea#filters-input{:name => "filters[matchers]", :rows => 10, :style => "width: 400px;"}
							= @filters_input

				%div{:style => "width: 400px; display: inline-block"}
					%p
						Fetched words are downcased, so it's recommended you provide everything in small caps.
					%ul
						%li
							%strong within_url
							Accepts string or regexp; checks to see if the given URL path contains the given STRING or REGEXP
						%li
							%strong regexp
							Accepts regexp; compares words found using a regular expression
						%li
							%strong word
							Accepts string; compares words with given string
						%li
							%strong has_type
							Compares word against a predetermined set. Presets include:
							%em day, month, time_12_hour, time_24_hour
							%br
							Ex: "has_type:day" checks to see if word is "monday/mon, tuesday/tue, ..."

				%div
					%label
						%strong Fetch me links that contain (separate terms by comma; enter "*" to retrieve all links):
						%br
						%input{:type => "text", :name => "filters[links]", :value => "event,events", :value => @links_filters_input}

					%label
						%input{:type => "checkbox", :name => "filters[check_links]", :checked => (@check_links || false)}		
						Check those links with match filters as well
					%small | Note: may slow down results and sometimes doesn't work; see About page

		%hr

		%table
			%tr
				%th Page body
				%th Page links
			%tr
				%td
					#matches-found{:style => "max-width: 500px; display: inline;"}
						= "<strong>#{(@results[:matches_found][:total_matches] || 0)}</strong> matches found from #{(@results[:matches_found][:total_filters] || 0)} filters (more is better):"
						%ul
							- @results[:matches_found].each do |filter_name, match_count|
								- next if filter_name.is_a? Symbol
								%li
									%strong
										- count_str = match_count.to_s
										= count_str + ("&nbsp;" * (5 - count_str.length))
									= filter_name

				%td{:width => "500px", :padding => "0"}
					#links-found{:style => "max-width: 500px; diplay: inline;"}
						Found these links:
						%ul
							- if @results[:checked_links]
								- @results[:checked_links].each do |link_url, results_hash|
									%li
										= link_url
										|
										= "<strong>#{results_hash[:total_matches]}</strong> matches found from #{results_hash[:total_filters]}"
										%form{:action => "/url", :method => "GET"}
											%input{:type => "hidden", :name => "url[address]", :value => link_url}
											%input{:type => "hidden", :name => "filters[matchers]", :value => @filters_input}
											%input{:type => "hidden", :name => "filters[links]", :value => @links_filters_input}
											%input{:type => "hidden", :name => "filters[check_links]", :checked => (@check_links || false)}
											%input{:type => "submit", :value => "See Results"}


							- else
								- @results[:links_found].each do |link_url|
									%li= link_url

			%tr
				%td{:width => "600px"}
					Words found:
					%p
						= @results[:words].join(" &#149; ")